.productDetails 
  background: white
  &-customForm
    margin-top: 20px
   
    &-title 
      font-size: 25px
    &-link 
      pointer-events: auto
      display: flex
      align-items: center
      gap: 5px
      font-size: 22px
      color: #028c8c
      cursor: pointer
  &-body
    padding-top: 70px
    min-height: 600px
    +tablet2 
      display: flex
      max-height: 100vh
      overflow: hidden
      overflow-y: scroll
    +laptop
      margin: 0 auto
      position: relative
      min-height: 600px
    
  &-slider
    overflow-x: hidden
    display: flex
    justify-content: center
    +tablet2
      display: none
  &-info 
    padding: 20px
    pointer-events: none
    color: #4A4A4A
    font-family: 'Chathura', sans-serif

    +tablet2 
      position: fixed
      z-index: 5 !important
      right: 3%
      width: 43%
    +laptop
      right: 6% 
    +desktop 
      right: 8%
    &-title 
      font-family: 'Chathura', sans-serif
      font-size: 62px
      text-transform: uppercase
      font-weight: bold
      pointer-events: none

    &-price 
      font-size: 40px
      margin-top: -20px
      font-weight: normal
    &-line 
      width: 80px
      border-bottom: none
      border-color: #e2e2e2
      margin-left: 2px
      margin-top: 10px
    &-size 
      font-size: 25px
      color: black
      font-weight: 500
      text-transform: uppercase
      margin-top: 10px
      margin-bottom: 10px
      pointer-events: none
    
    &-text 
      pointer-events: none
      font-size: 25px
    &-tags 
      display: flex
      flex-wrap: wrap
      gap: 10px
      margin-top: 20px
      & div 
        padding: 0 8px
        text-transform: uppercase
        border-radius: 12px
        border: 1px solid #4A4A4A
        font-size: 18px
    &-btn 
      background: #202020 
      color: #F9F8CE
      padding: 0px 10px
      border: none
      font-family: 'Chathura', sans-serif
      margin-top: 30px
      transition: 0.5s
      pointer-events: initial
      border: 1px #202020 solid
      text-transform: uppercase
      font-size: 25px
      &:hover 
        background: white
        color: black
        border: 1px black solid
    &-imgs
      display: none
      max-width: 500px
      
      +tablet2 
        display: flex
        align-items: center
        // margin-left: 5s0px
        // overflow-y: scroll
        flex-direction: column
        &::-webkit-scrollbar
          display: none
      +laptop
        max-width: 600px
    &-img 
      width: 100%
      margin-bottom: -10px
  &-sold 
    font-size: 25px
    border-radius: 2px
    border: #e2424d 1px solid 
    color: #e2424d
    padding: 6px 8px
    margin-top: 20px
    display: inline-block
  &-remove
    font-size: 25px
    border-radius: 2px
    border: #e2424d 1px solid 
    color: #e2424d
    padding: 6px 8px
    margin-top: 20px
    display: inline-block
// .rsis-container

.rsis-image 
  background-size: cover 
  background-position: center
  